@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: Lato;
}

.button {
    padding: 5%;
    font-size: 2rem;
    color: white;
    background-color: darkslategray;
    border-radius: 0.5rem;
    align-items: center;
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

#potato-text {
    margin-left: 3rem;
    margin-right: 3rem;
}

#potato-text img {
    display: inline;
}