@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Alphaclouds';
    src: URL('Alphaclouds-EGMW.ttf') format('truetype');
 }

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Alphaclouds, Lato;
    text-transform: uppercase;
    background-color: pink;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    padding: 1em 1.5em;
    font-size: 1.5rem;
    max-width: 70%;
    color: white;
    background-color: darkolivegreen;
    border-radius: 0.5rem;
    text-decoration: none;
    display: inline-block;
    margin: 1em auto;
    transition: 0.2s;
}

.button:hover {
  transform: scale(1.07);
}

.button:active {
  transform: scale(1.04);
}

#potato-text {
    width: 95%;
    height: 100vh;
    overflow: auto;
    padding: 0 2.5%;
}

#potato-text img {
    display: inline;
    width: 10%;
    height: auto;
}

@media only screen and (max-width: 800px) {
    #potato-text img {
        display: inline;
        width: 20%;
        height: auto;
    } 
}